body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    text-align: center;
    padding-top: 100px;
}

.container {
    background: white;
    width: 70%;
    margin: auto;
    padding: 40px;
    border-radius: 10px;
}

h1 {
    margin-bottom: 10px;
}

.status {
    font-weight: bold;
    margin-top: 30px;
}